
<a href="/">Back to Home</a>

<h1>Reviews</h1>
{{#each reviews}}
  <h2>{{this.restaurantName}}</h2><br>
  <body>{{this.title}}</body><br>
  
  <small> {{this.description}}</small><br>
  <small>{{this.picture}}</small><br>
  <body>{{this.caption}}</body><br><br>

{{/each}}

<p><a href="/reviews/edit">Edit your review</a></p>
<p><form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
    <button type="submit">Delete your review</button>
</form></p>